<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.platform.master.core.mapper.TaskWithdrawMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.order_no,a.link_id,a.money,a.service_charge,a.bank_id,a.withdraw_status,a.withdraw_explain,a.role_id,
        a.remark,a.run_num,a.run_status,a.send_num,a.send_status,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <!-- 这里需要等run_status运算成功之后，才会执行后续，workType当做临时字段使用-->
            <if test="workType != null and workType != '' " >
                and a.run_status = #{workType}
            </if>
            <if test="runNum != null and runNum != '' " >
                and a.run_num &lt; #{runNum}
            </if>
            <if test="runStatus != null and runStatus != '' " >
                and a.run_status &lt; #{runStatus}
            </if>
            <if test="sendNum != null and sendNum != '' " >
                and a.send_num &lt; #{sendNum}
            </if>
            <if test="sendStatus != null and sendStatus != '' " >
                and a.send_status &lt; #{sendStatus}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>


    <!-- 查询未跑的信息 -->
    <select id="getDataList" parameterType="Object" resultType="com.hz.platform.master.core.model.withdraw.WithdrawModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_withdraw a
        <include refid="Example_Where_Clause"/>
        limit #{limitNum}
    </select>

    <!-- 更新信息数据的状态成功、失败的结果 -->
    <update id="updateStatus" parameterType="Object">
        UPDATE tb_hz_withdraw a
        <trim prefix="set" suffixOverrides=",">
            <if test="runNum != null and runNum != '' " >
                a.run_num = a.run_num + #{runNum},
            </if>
            <if test="runStatus != null and runStatus != '' " >
                a.run_status = #{runStatus},
            </if>
            <if test="sendNum != null and sendNum != '' " >
                a.send_num = a.send_num + #{sendNum},
            </if>
            <if test="sendStatus != null and sendStatus != '' " >
                a.send_status = #{sendStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>




</mapper>