<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.platform.master.core.mapper.AgentChannelGewayMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.agent_id,a.channel_geway_id,a.link_name,a.service_charge,a.service_charge_type,a.extra_service_charge,a.deduct_ratio,a.remark,
        a.create_time,a.update_time,a.yn
    </sql>


    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="agentId != null and agentId != '' " >
                and a.agent_id = #{agentId}
            </if>
            <if test="channelGewayId != null and channelGewayId != '' " >
                and a.channel_geway_id = #{channelGewayId}
            </if>
            <if test="serviceChargeType != null and serviceChargeType != '' " >
                and a.service_charge_type = #{serviceChargeType}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time asc
    </sql>

    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.platform.master.core.model.agent.AgentChannelGewayModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_channel_geway a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.platform.master.core.model.agent.AgentChannelGewayModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_channel_geway a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.platform.master.core.model.agent.AgentChannelGewayModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_channel_geway a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.platform.master.core.model.agent.AgentChannelGewayModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_channel_geway a
        <include refid="Example_Where_Clause_id"/>
    </select>



    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_agent_channel_geway a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.platform.master.core.model.agent.AgentChannelGewayModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_channel_geway a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.platform.master.core.model.agent.AgentChannelGewayModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_hz_agent_channel_geway
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="agentId != null and agentId != '' " >
                agent_id,
            </if>
            <if test="channelGewayId != null and channelGewayId != '' " >
                channel_geway_id,
            </if>
            <if test="linkName != null and linkName != '' " >
                link_name,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="agentId != null and agentId != '' " >
                <![CDATA[  #{agentId}, ]]>
            </if>
            <if test="channelGewayId != null and channelGewayId != '' " >
                <![CDATA[  #{channelGewayId}, ]]>
            </if>
            <if test="linkName != null and linkName != '' " >
                <![CDATA[  #{linkName}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.platform.master.core.model.agent.AgentChannelGewayModel">
        UPDATE tb_hz_agent_channel_geway a
        <trim prefix="set" suffixOverrides=",">
            <if test="agentId != null and agentId != '' " >
                a.agent_id = #{agentId},
            </if>
            <if test="channelGewayId != null and channelGewayId != '' " >
                a.channel_geway_id = #{channelGewayId},
            </if>
            <if test="linkName != null and linkName != '' " >
                a.link_name = #{linkName},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_hz_agent_channel_geway a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


</mapper>