<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.platform.master.core.mapper.AgentProfitMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.my_trade_no,a.trade_no,a.out_trade_no,a.total_amount,a.service_charge,a.actual_money,
        a.pay_amount,a.pay_actual_money,a.channel_id,a.geway_id,a.agent_id,
        a.channel_geway_id,a.replenish_type,a.money_fit_type,a.profit_ratio,a.profit,
        a.curday,a.curhour,a.curminute,a.run_num,a.run_status,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                and a.my_trade_no = #{myTradeNo}
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                and a.out_trade_no = #{outTradeNo}
            </if>
            <if test="curday != null and curday != '' " >
                and a.curday = #{curday}
            </if>
            <if test="curdayStart != null and curdayStart != '' and curdayEnd != null and curdayEnd != '' " >
                and a.curday >= #{curdayStart} and a.curday &lt;= #{curdayEnd}
            </if>
            <if test="runNum != null and runNum != '' " >
                and a.run_num = #{runNum}
            </if>
            <if test="runStatus != null and runStatus != '' " >
                and a.run_status = #{runStatus}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.platform.master.core.model.agent.AgentProfitModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.platform.master.core.model.agent.AgentProfitModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.platform.master.core.model.agent.AgentProfitModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.platform.master.core.model.agent.AgentProfitModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a
        <include refid="Example_Where_Clause_id"/>
    </select>


    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_agent_profit a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.platform.master.core.model.agent.AgentProfitModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.platform.master.core.model.agent.AgentProfitModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_hz_agent_profit
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="myTradeNo != null and myTradeNo != '' " >
                my_trade_no,
            </if>
            <if test="tradeNo != null and tradeNo != '' " >
                trade_no,
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                out_trade_no,
            </if>
            <if test="totalAmount != null and totalAmount != '' " >
                total_amount,
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                service_charge,
            </if>
            <if test="actualMoney != null and actualMoney != '' " >
                actual_money,
            </if>
            <if test="payAmount != null and payAmount != '' " >
                pay_amount,
            </if>
            <if test="payActualMoney != null and payActualMoney != '' " >
                pay_actual_money,
            </if>
            <if test="channelId != null and channelId != '' " >
                channel_id,
            </if>
            <if test="gewayId != null and gewayId != '' " >
                geway_id,
            </if>
            <if test="agentId != null and agentId != '' " >
                agent_id,
            </if>
            <if test="channelGewayId != null and channelGewayId != '' " >
                channel_geway_id,
            </if>
            <if test="replenishType != null and replenishType != '' " >
                replenish_type,
            </if>
            <if test="moneyFitType != null and moneyFitType != '' " >
                money_fit_type,
            </if>
            <if test="profitRatio != null and profitRatio != '' " >
                profit_ratio,
            </if>
            <if test="profit != null and profit != '' " >
                profit,
            </if>
            <if test="curday != null and curday != '' " >
                curday,
            </if>
            <if test="curhour != null and curhour != '' " >
                curhour,
            </if>
            <if test="curminute != null and curminute != '' " >
                curminute,
            </if>
            <if test="runNum != null and runNum != '' " >
                run_num,
            </if>
            <if test="runStatus != null and runStatus != '' " >
                run_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="myTradeNo != null and myTradeNo != '' " >
                <![CDATA[  #{myTradeNo}, ]]>
            </if>
            <if test="tradeNo != null and tradeNo != '' " >
                <![CDATA[  #{tradeNo}, ]]>
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                <![CDATA[  #{outTradeNo}, ]]>
            </if>
            <if test="totalAmount != null and totalAmount != '' " >
                <![CDATA[  #{totalAmount}, ]]>
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                <![CDATA[  #{serviceCharge}, ]]>
            </if>
            <if test="actualMoney != null and actualMoney != '' " >
                <![CDATA[  #{actualMoney}, ]]>
            </if>
            <if test="payAmount != null and payAmount != '' " >
                <![CDATA[  #{payAmount}, ]]>
            </if>
            <if test="payActualMoney != null and payActualMoney != '' " >
                <![CDATA[  #{payActualMoney}, ]]>
            </if>
            <if test="channelId != null and channelId != '' " >
                <![CDATA[  #{channelId}, ]]>
            </if>
            <if test="gewayId != null and gewayId != '' " >
                <![CDATA[  #{gewayId}, ]]>
            </if>
            <if test="agentId != null and agentId != '' " >
                <![CDATA[  #{agentId}, ]]>
            </if>
            <if test="channelGewayId != null and channelGewayId != '' " >
                <![CDATA[  #{channelGewayId}, ]]>
            </if>
            <if test="replenishType != null and replenishType != '' " >
                <![CDATA[  #{replenishType}, ]]>
            </if>
            <if test="moneyFitType != null and moneyFitType != '' " >
                <![CDATA[  #{moneyFitType}, ]]>
            </if>
            <if test="profitRatio != null and profitRatio != '' " >
                <![CDATA[  #{profitRatio}, ]]>
            </if>
            <if test="profit != null and profit != '' " >
                <![CDATA[  #{profit}, ]]>
            </if>
            <if test="curday != null and curday != '' " >
                <![CDATA[  #{curday}, ]]>
            </if>
            <if test="curhour != null and curhour != '' " >
                <![CDATA[  #{curhour}, ]]>
            </if>
            <if test="curminute != null and curminute != '' " >
                <![CDATA[  #{curminute}, ]]>
            </if>
            <if test="runNum != null and runNum != '' " >
                <![CDATA[  #{runNum}, ]]>
            </if>
            <if test="runStatus != null and runStatus != '' " >
                <![CDATA[  #{runStatus}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.platform.master.core.model.agent.AgentProfitModel">
        UPDATE tb_hz_agent_profit a
        <trim prefix="set" suffixOverrides=",">
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_hz_agent_profit a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>



</mapper>