<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.platform.master.core.mapper.PrepareRechargeMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id, a.alias, a.channel_id, a.my_trade_no, a.money, a.change_type, a.picture_ads, a.is_show, a.data_explain,
        a.remark, a.work_type, a.curday, a.curhour, a.curminute, a.run_status, a.run_num, a.create_user_id, a.create_role_id,
        a.update_user_id, a.update_role_id, a.create_time, a.update_time, a.ts_time, a.yn
    </sql>


    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                and a.my_trade_no = #{myTradeNo}
            </if>
            <if test="channelId != null and channelId != '' " >
                and a.channel_id = #{channelId}
            </if>
            <if test="channelName != null and channelName != '' " >
                and b.channel_name = #{channelName}
            </if>
            <if test="money != null and money != ''" >
                and a.money = #{money}
            </if>
            <if test="changeType != null and changeType != '' " >
                and a.change_type = #{changeType}
            </if>
            <if test="isShow != null and isShow != '' " >
                and a.is_show = #{isShow}
            </if>
            <if test="workType != null and workType != '' " >
                and a.work_type = #{workType}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time asc
    </sql>

    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.platform.master.core.model.preparerecharge.PrepareRechargeModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_prepare_recharge a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.platform.master.core.model.preparerecharge.PrepareRechargeModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_prepare_recharge a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.platform.master.core.model.preparerecharge.PrepareRechargeModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_prepare_recharge a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.platform.master.core.model.preparerecharge.PrepareRechargeModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_prepare_recharge a
        <include refid="Example_Where_Clause_id"/>
    </select>



    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_prepare_recharge a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.platform.master.core.model.preparerecharge.PrepareRechargeModel">
        select
        <include refid="Base_Column_List" />
        from tb_hz_prepare_recharge a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.platform.master.core.model.preparerecharge.PrepareRechargeModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
            <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_hz_prepare_recharge
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="alias != null and alias != ''" >
                alias,
            </if>
            <if test="channelId != null and channelId != '' " >
                channel_id,
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                my_trade_no,
            </if>
            <if test="money != null and money != '' " >
                money,
            </if>
            <if test="changeType != null and changeType != '' " >
                change_type,
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                picture_ads,
            </if>
            <if test="isShow != null and isShow != '' " >
                is_show,
            </if>
            <if test="dataExplain != null and dataExplain != '' "  >
                data_explain,
            </if>
            <if test="remark != null and remark != '' " >
                remark,
            </if>
            <if test="workType != null and workType != '' " >
                work_type,
            </if>
            <if test="curday != null and curday != '' " >
                curday,
            </if>
            <if test="curhour != null and curhour != '' " >
                curhour,
            </if>
            <if test="curminute != null and curminute != '' " >
                curminute,
            </if>
            <if test="runStatus != null and runStatus != '' " >
                run_status,
            </if>
            <if test="runNum != null and runNum != '' " >
                run_num,
            </if>
            <if test="createUserId != null and createUserId != '' " >
                create_user_id,
            </if>
            <if test="createRoleId != null and createRoleId != '' " >
                create_role_id,
            </if>
            <if test="updateUserId != null and updateUserId != '' " >
                update_user_id,
            </if>
            <if test="updateRoleId != null and updateRoleId != '' " >
                update_role_id,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="alias != null and alias != '' " >
                <![CDATA[  #{alias}, ]]>
            </if>
            <if test="channelId != null and channelId != '' " >
                <![CDATA[  #{channelId}, ]]>
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                <![CDATA[  #{myTradeNo}, ]]>
            </if>
            <if test="money != null and money != '' " >
                <![CDATA[  #{money}, ]]>
            </if>
            <if test="changeType != null and changeType != '' " >
                <![CDATA[  #{changeType}, ]]>
            </if>
            <if test="pictureAds != null and pictureAds != ''" >
                <![CDATA[  #{pictureAds}, ]]>
            </if>
            <if test="isShow != null and isShow != '' " >
                <![CDATA[  #{isShow}, ]]>
            </if>
            <if test="dataExplain != null and dataExplain != ''"  >
                <![CDATA[  #{dataExplain}, ]]>
            </if>
            <if test="remark != null and remark != ''" >
                <![CDATA[  #{remark}, ]]>
            </if>
            <if test="workType != null and workType != '' " >
                <![CDATA[  #{workType}, ]]>
            </if>
            <if test="curday != null and curday != '' " >
                <![CDATA[  #{curday}, ]]>
            </if>
            <if test="curhour != null and curhour != '' " >
                <![CDATA[  #{curhour}, ]]>
            </if>
            <if test="curminute != null and curminute != '' " >
                <![CDATA[  #{curminute}, ]]>
            </if>
            <if test="runStatus != null and runStatus != '' " >
                <![CDATA[  #{runStatus}, ]]>
            </if>
            <if test="runNum != null and runNum != '' " >
                <![CDATA[  #{runNum}, ]]>
            </if>
            <if test="createUserId != null and createUserId != '' " >
                <![CDATA[  #{createUserId}, ]]>
            </if>
            <if test="createRoleId != null and createRoleId != '' " >
                <![CDATA[  #{createRoleId}, ]]>
            </if>
            <if test="updateUserId != null and updateUserId != '' " >
                <![CDATA[  #{updateUserId}, ]]>
            </if>
            <if test="updateRoleId != null and updateRoleId != '' " >
                <![CDATA[  #{updateRoleId}, ]]>
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.platform.master.core.model.preparerecharge.PrepareRechargeModel">
        UPDATE tb_hz_prepare_recharge a
        <trim prefix="set" suffixOverrides=",">
            <if test="alias != null and alias != '' " >
                a.alias = #{alias},
            </if>
            <if test="channelId != null and channelId != '' " >
                a.channel_id = #{channelId},
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                a.my_trade_no = #{myTradeNo},
            </if>
            <if test="money != null and money != '' " >
                a.money = #{money},
            </if>
            <if test="changeType != null and changeType != '' " >
                a.change_type = #{changeType},
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                a.picture_ads = #{pictureAds},
            </if>
            <if test="isShow != null and isShow != '' " >
                a.is_show = #{isShow},
            </if>
            <if test="dataExplain != null and dataExplain != '' "  >
                a.data_explain = #{dataExplain},
            </if>
            <if test="remark != null and remark != '' " >
                a.remark = #{remark},
            </if>
            <if test="workType != null and workType != '' " >
                a.work_type = #{workType},
            </if>
            <if test="curday != null and curday != '' " >
                a.curday = #{curday},
            </if>
            <if test="curhour != null and curhour != '' " >
                a.curhour = #{curhour},
            </if>
            <if test="curminute != null and curminute != '' " >
                a.curminute = #{curminute},
            </if>
            <if test="runStatus != null and runStatus != '' " >
                a.run_status = #{runStatus},
            </if>
            <if test="runNum != null and runNum != '' " >
                a.run_num = #{runNum},
            </if>
            <if test="createUserId != null and createUserId != '' " >
                a.create_user_id = #{createUserId},
            </if>
            <if test="createRoleId != null and createRoleId != '' " >
                a.create_role_id = #{createRoleId},
            </if>
            <if test="updateUserId != null and updateUserId != '' " >
                a.update_user_id = #{updateUserId},
            </if>
            <if test="updateRoleId != null and updateRoleId != '' " >
                a.update_role_id = #{updateRoleId},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_hz_prepare_recharge a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


</mapper>